header{
    margin:0.5%;
    background-color: rgb(238, 98, 11);
    padding: 20px;
}
nav{
    background-color: black;
    margin: 50px;
    word-spacing:10px ;
    overflow: hidden;
}
nav a:haver{
    color:aqua ;
}
nav a.visited{
    color: tomato;
}
main{
    text-align: center;
    text-decoration:solid;
    background-color: rgba(0, 0, 0, 0.29);
}
main.video{
 size: 10px;  
 border: medium dashed lightcoral;  
}
footer{
    background-color: rgba(0, 0, 0, 0.554);
    text-decoration: wavy;
    word-spacing: 20px;

}
p{
    user-select: none;
}