/*div{
    background-color: aqua;
    display: inline;
}
    */
button{
    background-color: coral;
    display: block;
}
body{
    width: 200px;
    border: 25px solid black;
}
div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    border-radius: 50%;
}